@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#hero,
#footer {
  background: #2a2c38;
  background-image: radial-gradient(at 4% 99%,
      hsla(165, 14%, 33%, 1) 0,
      transparent 59%),
    radial-gradient(at 100% 100%, hsla(293, 0%, 100%, 1) 0, transparent 45%),
    radial-gradient(at 100% 0%, hsla(178, 44%, 36%, 1) 0, transparent 41%);
  background-size: 2000% 400%;
  animation: gradient 10s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}